{% extends 'test.html'%}

{% block tabs %} Spams {% endblock %}

{% block saturs %}

<form method="post" action="/veidot_spamu">
    <label class="form-label"> Vārds </label>
    <input type="text" name="vards" placeholder="Vārds">
    <label class="form-label"> Vecums </label>
    <input type="number" name = "vecums">
    <label class="form-label"> Dzimums </label>
    <input type="radio" name = "dzimums" value = "v">
    <label for="v">Vīrietis</label>
    <input type="radio" name = "dzimums" value = "s">
    <label for="s">Sieviete</label>
    <input type="submit" value="Izveidot spamu!">
</form>


{% endblock %}